#content-pokemon {


    
    height: 640px;
    width: 360px; 
    border-radius: 12px;
    

}
#content-pokemon #pokeballBkg {

    position: relative;
    left: 144px;    
    bottom: 80px;
    height: 208px;
    width: 208px;
       
}

#imgs {

    display: flex;

}


#pokemonSprite {

    position: relative;
    width: 200px;
    height: 200px;   
    right: 123px;
    z-index: 1;


}